<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
  <nav class="navbar">
    <div class="input-group">
      <div class="scrollable-menu">
        <li class="nav-item">

                <!-- <form class="navbar-form navbar-left" role="search"> -->
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Servicios" [(ngModel)]="filterPattern" (keyup)="filter()">
                        </div>
                <!-- </form> -->

        </li>
      </div>
    </div>
  </nav>
</ul>